/**
 * .wizard
 */
.wizard {
    border: 1px solid #555555;
    padding-bottom:30px;
    background-color : #555;
}
.wizard h2 {
    color: #fff;
    padding: 10px;
    margin: 0px;
}
.wizard > div {
    padding: 13px;
}
.wizard ul > li {
  padding: 0;
}
.wizard .hidden {
    display:none;
}

/**
 * .wiazrd > .step
 */
.wizard > .steps > ul > li {
  width: 33%;
}
.wizard > .steps > ul {
    min-height: 45px;
    padding-left:0px;
}
.wizard > .steps {
    background-color:#FFF;
}
.wizard > .steps .active > a {
  background-color: #2184be;
  color: #fff;
  cursor: default;
}
.wizard > .steps .current > a {
  background-color: #2184be;
  color: #fff;
  cursor: default;
}
.wizard > .steps a {
    display: block;
    width: auto;
    margin: 0 0.5em 0.5em;
    padding: 10px;
    text-decoration: none;
}
.wizard > .steps > ul > li {
  float: left;
   list-style-type:none;
}
.wizard > .steps .number {
  font-size: 1.429em;
}
.wizard > .steps  a, .wizard > .steps .disabled a:hover, .wizard > .steps .disabled a:active {
  color: #aaa;
  cursor: default;
}
.wizard > .steps .current a.error {
    background-color : #C94D4D;
}

/**
 * .wiazrd > .content
 */
 .wizard > .content {
     font-size: 16px;
     color: #686767;
}
/** Input */
.wizard .content input {
    display: block;
    width: 97%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-bottom:3px;
}
.wizard > .content > .body > div > div > span > .firstLetter {
   color: #C94D4D;
   display:inline;
}
.wizard > .content > .body > div > div > span > .nextLetter {
}
.wizard > .content > .body > ul > li {
  color: #555555;
  margin:3px;
  padding : 5px;
  text-align:left;
  margin-left:40px;
  list-style-type:disc;
}
.wizard > .content > .body > div > .lineProgressBar {
    height:3px;
    width:0px;
}
.wizard > .content > .body ul > li {
  padding: 5px;
}
.wizard > .content {
    overflow: visible;
   min-height: 6em;
   background-color : #FFF;
}
.wizard > .actions {
   background-color : #FFF;
}
.wizard > .content > .body {
  padding: 0px;
}
.wizard > .content > .body input {
  border: 1px solid #ccc;
}
.wizard > .content > .body > ul > li.errorrule {
     color : #C94D4D;
}
.wizard > .content > .body > div > .error {
     background-color : #C94D4D;
}
.wizard > .content > .body > div >  .success {
    background-color : green;
}
.wizard > .content > .body > div > div > span > .hidden {
    display: none;
}
.wizard > .content > .body > ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.wizard > .content > .body > .sentenceValidate {
  padding-bottom: 5px;
  font-size:22px;
  border-bottom : 1px solid #555555;
}
.wizard > .divInfo {
    text-align: center;
    margin-left: 30%;

}

/**
 * .wiazrd > .action
 */
.wizard > .actions {
  position: relative;
  text-align: right;
}
.wizard > .actions > ul {
  display: inline-block;
  text-align: right;
}
.wizard > .actions > ul > li {
  margin: 0 0.5em;
}
.wizard > .actions a {
  background: #aaa;
  color: #fff;
  padding: 0.5em 1em;
  text-decoration:none;
}
.wizard > .actions a.active {
  background: #2184be;
  color: #fff;
  padding: 0.5em 1em;
  cursor:pointer;
}
.wizard > .actions > ul > li {
    float:left;
    list-style-type:none;
}

/* checkbox */
/* Cachons la case à cocher */
.wizard > .content input[type="checkbox"]:not(:checked),
.wizard > .content input[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
 
/* on prépare le label */
.wizard > .content input[type="checkbox"]:not(:checked) + label,
.wizard > .content input[type="checkbox"]:checked + label {
    position: relative; /* permet de positionner les pseudo-éléments */
    padding-left: 25px; /* fait un peu d'espace pour notre case à venir */
    cursor: pointer;    /* affiche un curseur adapté */
}
/* Aspect des checkboxes */
/* :before sert à créer la case à cocher */
.wizard > .content input[type="checkbox"]:not(:checked) + label:before,
.wizard > .content input[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left:0; top: 2px;
    width: 17px; height: 17px; /* dim. de la case */
    border: 1px solid #aaa;
    background: #f8f8f8;
    border-radius: 3px; /* angles arrondis */
    box-shadow: inset 0 1px 3px rgba(0,0,0,.3) /* légère ombre interne */
}
 
/* Aspect général de la coche */
.wizard > .content input[type="checkbox"]:not(:checked) + label:after,
.wizard > .content input[type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: 0; left: 4px;
    font-size: 14px;
    color: #09ad7e;
    transition: all .2s; /* on prévoit une animation */
}
/* Aspect si "pas cochée" */
.wizard > .content input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0; /* coche invisible */
    transform: scale(0); /* mise à l'échelle à 0 */
}
/* Aspect si "cochée" */
.wizard > .content input[type="checkbox"]:checked + label:after {
    opacity: 1; /* coche opaque */
    transform: scale(1); /* mise à l'échelle 1:1 */
}
/* h3 style */
.wizard > h3 {
    margin-top:20px;
}