.lien {
	color:#2179C4 !important;
}
.nav ul#reversg li#menu {
	width:916px;
	height:20px;
	background-color:#2179C4;
}
.chevron {
	background: #2179C4;
}
.btn {
	background:url("../css/images/bg_btn.png") no-repeat left top;
	color: #FFFFFF;
	float:right;
	position:relative;
	right:60px;
	font-size: 0.917em;
	width:200px;
	height: 29px;
	padding: 8px 14px 9px 14px;
	text-transform: uppercase;
	cursor:pointer;
	border:none;
	font-weight:bold;
}
.btn:hover {
	background:url("../css/images/bg_btn_b.png") no-repeat left top;
	color: #FFFFFF;
	float:right;
	font-size: 0.917em;
	width:200px;
	height: 29px;
	padding: 8px 14px 9px 14px;
	text-transform: uppercase;
	cursor:pointer;
	border:none;
	font-weight:bold;
}
div.menu-utilitaire {
	color: white;
	background-color: #444444;
	width: auto;
	height: auto;
	padding: 10px 0;
	font-family: 'open_sanslight';
	font-size: 15px;
	text-align: center;
}
div.menu-utilitaire a {
	text-transform: uppercase;
	padding: 0 10px;
	color: white;
	text-decoration: none;
}
div.menu-utilitaire a:hover {
	color: #4796ec;
}
footer {
	width: 100%;
	background-color: #222222;
	margin-top:30px;
}
@media (max-width:1000px) {
	.nav ul#reversg li#menu {
		width: 100%;
		display:block;
	}
}